@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
html{
    scroll-behavior: smooth;
}

body {
    background: #080808;
    color: #fff;


}


#header {
    width: 100%;
    height: 100vh;
    background-image: url(images/vc-img\ \(2\).jpg);
    background-size: cover;
    background-position: center;


}

.container {
    padding: 10px 30px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    background-color: #080808;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 999;
    padding-left: 50px;


}

nav ul {
    /* display: flex; */
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin: 10px 20px;
    list-style: none;
   
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    
}

nav ul li a:hover {
    border-bottom: 3px solid white;
    
}

.logo h1 {
    font-size: 40px;
    padding-right: 80px;
}

span {
    color: yellow;
}

.header-text {
    position: absolute;
    top: 40px;
    right: 80px;
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1 {
    font-size: 50px;
}

.header-text p {
    padding: 15px 0;
    font-size: 18px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.551);
width: 70%;
}

.skills h1 {
    font-size: 20px;
    font-weight: 500;
}

.skills {
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.551);
    padding: 50px 0;
}

.skills img {

    width: 30px;
    padding-top: 13px;
    margin-left: 30px;
}

.skills h1 span {
    padding-left: 15px;
    color: rgba(255, 255, 255, 0.551);
}

/* About section */

#about {
    padding: 140px 0;

}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col2 {
    flex-basis: 40%;
}

.about-col2 img {
    width: 500px;

}

.about-col1 {
    flex-basis: 50%;

}

.sub-title {
    font-size: 30px;
    margin-bottom: 50px;
    font-weight: 600;
    text-align: center;
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;

}

.tab-links::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 0px;
    background: red;
    left: 0;
    bottom: -8px;
    transition: 0.5s;


}

.tab-links.active-link::after {
    width: 100%;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 600;
    color: rgb(162, 70, 70);
}

.tab-contents {
    display: none;
}

.tab-contents p {
    font-size: 15px;
}

.tab-contents.active-tab {
    display: block;
}

/* portfolio */

.sub-title h1 {
    font-size: 30px;
}

.worklist {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;

}

.work {
    position: relative;
    overflow: hidden;

}

.work img {
    width: 100%;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0;
    background: rgba(16, 15, 15, 0.93);
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 60px;
    text-align: center;
    transition: height 0.5s;
}

.layer h2 {
    font-size: 30px;
    margin-bottom: 10px;
    color: yellow;

}

.work:hover img {
    transform: scale(1.1);

}

.work:hover .layer {
    height: 100%;
}

/* contact */

.container .row {
    margin-top: 100px;
}

.social-icons a i {
    font-size: 40px;
    margin-right: 20px;

}

.social-icons a {
    text-decoration: none;
    color: white;
    display: inline-block;
    transition: transform 0.5s;
    margin-top: 10px;


}

.social-icons {
    padding: 0 50px;
}

.social-icons a:hover {
    transform: translateY(-5px);
}

.contact-left p {
    margin: 10px 0;
    padding: 0 50px;
}


.contact-left {
    margin-top: 100px;
    flex-basis: 35%;
    display: inline-block;
    justify-content: center;
    align-items: center;

}

.contact-right {
    margin-top: 100px;
    flex-basis: 50%;
}

.btn1 {
    background-color: yellow;
    padding: 10px 40px;
    outline: none;
    border: none;
    border-radius: 10px;
    color: black;

}

.contact-right form {
    width: 100%;

}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    border: 0;
    outline: none;
    margin: 15px 0;
    background-color: #080808;
    border: 2px solid white;
    color: white;
    font-size: 18px;
    border-radius: 10px;
}

.copyright {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    margin-top: 100px;
    font-weight: 500;
}

nav .fas {
    display: none;
}

#span{


    font-size: 30px;
 
}


















/* Responsive */

@media only screen and (max-width: 600px) {
    #header {
        background-image: url(images/vc-img.png);
        background-repeat: no-repeat;

        background-size: 400px;
        background-position: center;
        margin-top: -100px;
       

    }

    .header-text {
        position: static;
        width: 100%;
        margin-top: 190%;
        font-size: 16px;
        overflow: hidden;
        height: fit-content; 
    }
    .header-text p{
        width: 100%;
    }
    .header-text i{
        font-size: 30px;
        margin-top: 30px;
        padding-right: 10px;
    }

    .header-text h1 {
        font-size: 30px;
    }

    .about-col2{
        display: none;

    }

   
    .logo h1{
      
        margin-left: 0;
        padding-left: 0;
        padding-right: 0;
        font-size: 30px;
    }
    nav{
        padding-top: 10px;
        padding-left: 20px;
       
    }

    

    nav .fas {
        display: block;
        font-size: 30px;
        font-weight: 600;
        padding-right: 20px;
    }

    nav ul {
        background-color: yellow;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
        

    }

    nav ul li {
        display: block;
        
        margin: 25px 60px;
    
    }

    nav ul li a {
        display: block;
        font-weight: 600;
        color: black;


    }

    nav ul .fas {
        color: black;
        position: absolute;
        top: 25px;
        right: 2px;
        font-weight: 600;
    }
    .sub-title {
        margin-top: 0px;
        padding-bottom: 10px;
        font-size: 30px;
        width: 100%;

    }
    .about-col1{
        flex-basis: 100%;
        width: 100%;
    }

    .about-col1 p{
    
        font-size: 18px;
       
    }

    .about-col2{
        flex-basis: 100%;
    }
    .about-col2 img{
        width: 200px;

    }

 

    .tab-titles{
        padding: 0;
        margin-top: 100px;
        
    }

    .tab-links{
        margin: 0;
        padding: 0 15px;
        
        font-size: 15px ;
    }

    .contact-left {
        flex-basis: 100%;
    }

    .contact-right {
        flex-basis: 100%;
    }
    .contact-left p{
        text-align: center;
        padding: 0;
        margin: 0;
        
    }
    .social-icons{
        padding: 0;
        text-align: center;
    }
    .layer h2{
        font-size: 20px;
    }
    .layer p{
        font-size: 10px;
    }

    .copyright{
        font-size: 15px;
    }
}